/* Custom Stylesheet */
/**
 *
 * Made By Joash Pereira
 * Thanks for MaterializeCSS.com
 */

.default_color{background-color: rgba(91, 79, 79, 0.80)  !important;}

.default_color_text{color: #5b4f4f !important}

.icon-block {
    padding: 0 15px;
}

._li{
    max-width: inherit !important;
}

body{
    padding: 0px;
}

.nav-wrapper a:hover{
    color: white;
}

.detail_text{
    margin-bottom: 40px;
}

#intro, #work, #team {padding-top: 4rem;}

#textoHeader{
    margin-top: 60px;
    height: 180px;
}

.promo-caption{
    margin-bottom: 40px;
    margin-left: 50px;
    text-align: left
}

promo{
    font-size: 30px;
}

.icon_area{
    color: #5b4f4f;
}

.icon_area1{
    margin-top: 12px;
}

#icon_prefix{
    color: white;
    border: 1px solid white;
}

a{
    color : #5b4f4f;
    text-decoration: none;
}

a:visited, a:after a:active{
    background-color: rgba(0, 0, 0, 0.64) !important;
}

.linkDetalhes{
    margin-top: 20px !important;
   font-weight: 200;
    margin-left: -5px !important;
    height: 25px;
    text-align:center;
    border-radius: 0px;
    margin-bottom: 30px !important;
    background-color: #5b4f4f !important;
}

.linkDetalhes a{
    color: white !important;
    margin-top: 10px;
    font-size: 15px;
   font-weight: 300;
       font-family: Roboto, Roboto-Light !important;
}

.nav-pills a {
    background-color: rgba(201, 203, 203, 0.60) !important;
    color: black !important;
}

.dropdown-menu{
    position: absolute;
}

.dropdown-menu li:hover, li:visited, li:after, li:active{
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-pills a:hover, a:focus, a:active, a:visited{
    background-color:  rgba(201, 203, 203, 0.92) !important;
}

.tabs .tab a:focus{
    background-color: white !important;
}

a:hover, a:visited, a:focus, a:active{
    text-decoration: none;
}


.myIcon{
    font-size: 5px;
}

.nav-wrapper ul a:focus{
    background: rgba(91, 79, 79, 0.90);
    color: white;
}

.divTema{
    background: url(../../img/bg.jpg);
     background-attachment:fixed;
      background-size: cover;
       color: white !important;
        height: 300px;
}

.divTema a{
     line-height:20px;
}

.divTemaShadow{
    margin-top:0;
    background: rgba(0, 0, 0, 0.64);
     height: 300px;
}

.divTema a:hover{
    color: #cecece !important;
}

#subscricao{
   background: url(../../img/Open-Book.jpg);
   background-size: cover;
   background-position: center; 
   background-attachment:fixed;
   background-repeat: no-repeat
}

.renderBody{
    margin-top: 160px;
}

.renderBody1{
    margin-top: 60px;
}


#btPesquisa{
    margin-top: -3px;
    background: rgba(0,0,0,.1);
    border: 1px solid whitesmoke;
    color: white;
}

#opcoes{
    border: 2px solid white;
    padding: 0;
    margin-top: 0;
    text-align: center;
}

.verTodos{
    float: right;
    font-size: 20px;
    margin-top: 18px;
}

.verTodos a{
      font-size: 16px;
    color: white;
    font-family: Roboto, Roboto-Light !important;
}

.verResultadosTemas{
    float: right;
    font-size: 20px;
    margin-top: 18px;
    background-color: #5b4f4f !important;
}

.verResultadosTemas a{
      font-size: 12px;
      padding:5px;
    color: white;
    font-family: Roboto, Roboto-Light !important;
}

#navDiv{
    height: 170px;
}

.verDetalhes{
 float: left;
  padding: 5px;
  margin-bottom:10px;
}

.verDetalhes a{
      font-size: 15px;
    color: white;
    font-family: Roboto, Roboto-Light !important;

}

.sidebar{
    margin-left:20px !important;
     padding-right: 0;
}

.verTodos a{
    color: white;
    font-family: Roboto, Roboto-Light !important;

}

#searchBoxDiv{
    margin-top: 70px;
    height: 30px;
    margin-top: 0;
}

#index-banner {
    min-height: 470px;
    max-height: 864px;
    position: relative;
    background-color: #5b4f4f;
    background: url('/img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

#nav_f{
    box-shadow: none !important; 
    -webkit-box-shadow:none !important;
}

.text_h {
    padding: 15% 0;
    font-size: 6.0em;
    font-weight: 100;
    color:white;
    font-family: Roboto, Roboto-Light;
}

.nav-wrapper{
  font-family: Roboto, Roboto-Light;
}

#search{
    width: 400px;
}

.listaTema{
    font-size: 20px !important;
}

#favoritos .tabs .tab{
        background-color: rgba(247,247,247,.25);
}

#favoritos .tabs .tab:active, .tab:focus, .tab:visited, .tab:after{
    background-color: rgba(247,247,247,.25) !important;
}

.btfavDetails a{
    font-size: 12px;
    color: white;
}

.brand-logo{
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 100;
    padding: 0;
    letter-spacing: 2px;
}

.text_h2 {font-weight: 100;margin-bottom: 4%; line-height: 4.5rem; font-family: Roboto, Roboto-Light;
}

.span_h2 {font-weight: 300;color: #5b4f4f; font-family: Roboto, Roboto-Light;
}

.text_b{color: #222020; font-family: Roboto, Roboto-Light !important;
}

.in{font-weight: 400 !important; font-style: normal !important;}

.promo i {
    color: #5b4f4f;
    font-size: 7rem;
    display: block;
}
.card-content a {color: #5b4f4f;}

.card-content{
    padding-bottom:0 !important;
    padding-top:0 !important;
    height: 110px;
    max-height: 115px !important;
    overflow-y:auto
}

 .card-title{
    font-size: 18px !important;
}

.card-content a:hover {color: #5b4f4f;}

#work, #team{background: rgb(247, 247, 247);}

.text_pink{color:#EF9A9A;}

nav ul a {
    font-size: 1.2rem;
    color: #FFF;
    letter-spacing: 2px;
    display: block;
    font-weight: 300;
    padding: 0px 15px;
    text-decoration: none;
}

.cd-headline.type .cd-words-wrapper {
    vertical-align: top;
    overflow: hidden;
    padding: 0px;
    margin:0px;
}

.cd-headline.type .cd-words-wrapper::after {
    /* vertical bar */
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 90%;
    width: 1px;
    background-color: #aebcb9;
}

.cd-headline.type .cd-words-wrapper.waiting::after {
    -webkit-animation: cd-pulse 1s infinite;
    -moz-animation: cd-pulse 1s infinite;
    animation: cd-pulse 1s infinite;
}
.cd-headline.type .cd-words-wrapper.selected {
    background-color: #FFF;
}

.cd-headline.type .cd-words-wrapper.selected::after {
    visibility: hidden;
}

.cd-headline.type .cd-words-wrapper.selected b {
    color: #5b4f4f;
}

.cd-headline.type b {
    visibility: hidden;
}

.cd-headline.type b.is-visible {
    visibility: visible;
}

.cd-headline.type i {
    position: absolute;
    visibility: hidden;
}
.cd-headline.type i.in {
    position: relative;
    visibility: visible;
}


.descHome{
    font-size: 18px !important;
    font-weight: 200;
}



/*Vertical tabs*/
 
  .tabs-vertical  .tabs {
        height: auto;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

.tabs-vertical .tab {
    width: 100%;
}
    .tabs-vertical .tab .active {
            -moz-transition: border-color .5s ease;
            -o-transition: border-color .5s ease;
            -webkit-transition: border-color .5s ease;
            transition: border-color .5s ease;
            border-left: 3px solid #424242;
        }

     .tab span{
         text-align:center !important; 
         margin-left:10px;
         font-weight: 200;
     }

  .tabs-vertical  .tabs  .indicator {
        display: none;
    }


  .icon2{
      margin-right: 20px;
      margin-top: 10px;
      font-size: 24px !important;
  }


@-webkit-keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}
@-moz-keyframes cd-pulse {
    0% {
        -moz-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -moz-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -moz-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}

@keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        -moz-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        -o-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        -moz-transform: translateY(-50%) scale(0.9);
        -ms-transform: translateY(-50%) scale(0.9);
        -o-transform: translateY(-50%) scale(0.9);
        transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        -moz-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
        -o-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}


/* Preloader */
#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:1200; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../img/status.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}

@media only screen and (max-width: 480px) {
    .text_h {
        padding: 4% 0;
        font-size: 5em;
        font-weight: 100;
        color: white;
    }
}


input, textarea {
    border-bottom: 1px solid #fff;
}

nav a.button-collapse {
    left: -25px;
}

.card-avatar .waves-effect {
    text-align: center;
    margin-top: 20px;
}

.card-avatar img {
    height: 150px;
    width: 150px;
    border-radius: 75px;
}

.card-avatar .card-content {
    text-align: center;
}

.card .card-content p {
    margin: 15px 0px;
}

.card-avatar .card-content i {
   font-size: 1.5rem;
}

.card-avatar .card-content .card-title {
    line-height: 10px !important;
}


.parallax-container {
    max-height: 400px;
}

footer.page-footer {
    margin: 0px !important;
}



@media (max-width: 762px){
    #navDiv{
        height: 210px !important;
    }

    .renderBody{
        margin-top:210px;
    }

    #opcoes{
        margin-bottom: 10px;
    }

    .verTodos {
        margin-top:0;
        margin-bottom: 5px;
    }

    .text_tema{
       font-size: 20px !important;
    }

    .card-title{
    font-size: 18px !important;
}

    .header{
        font-size: 30px !important;
    }


    .promo1{
        padding-left: 30px !important;
    }

    .sidebar{
        margin-left:10px !important;
         padding-left: 0 ;
    }

    .container2{
       
    }
    
    .live-search-list{
        margin-left: 0!important;
    }

    .text_resultados{
        font-size: 25px;
        line-height:30px;
    }

    .verResultadosTemas{
        margin-top:0;
        margin-bottom:20px;
    }

}
