@model AcademicosUem.Models.TrabalhoFiles

@{
    ViewBag.Title = "DetalhesTrabalho";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<div class="inner-page-banner-area" style="background-image: url('../../Content/assetsFront/img/slider/salaestudo2.jpg');">
    <div class="container">
        <div class="pagination-area">
            <h2>Detalhes do trabalho</h2>
            <ul>
                <li><a href="#">Home</a> -</li>
                <li>DetalhesTrabalho</li>
            </ul>
        </div>
    </div>
</div>
<!-- Inner Page Banner Area End Here -->
<!-- Shop Page 1 Area Start Here -->
<div class="shop-details-page-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 col-md-push-3">
                <div class="inner-shop-details">
                    <div class="product-details-info-area">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                <img class="" style="height: auto !important" height="50" src="~/img/pdffoto.png" alt="courses">

                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                <div class="inner-product-details-right">
                                    <h3>@Html.DisplayFor(model => model.Trabalho.Titulo)</h3>
                                    <ul>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                    <div class="product-details-content">
                                        <p><span>Autor:</span> @Html.DisplayFor(model => model.Trabalho.ApplicationUser.UserName)</p>
                                        <p><span>Data:</span> @Html.DisplayFor(model => model.Trabalho.Data)</p>
                                    </div>
                                    <ul class="product-details-social">
                                        <li>Partilhar trabalho:</li>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                    </ul>
                                    <div class="form-group">
                                        <button class="sidebar-search-btn disabled" >Ler documento</button>
                                    </div>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-details-tab-area">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <ul>
                                    <li class="active">
                                        <h4 class="sidebar-title"><a href="#">Descricao</a></h4>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="tab-content">
                                    <div class="tab-pane fade active in" id="description">
                                        <p>Porem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
                                    </div>
                                    <div class="tab-pane fade" id="review">
                                        <p>Porem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
                                    </div>
                                    <div class="tab-pane fade" id="add-tags">
                                        <p>Porem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="sidebar-title"><a href="#">Trabalhos Relacionados</a></h3>
                    <div class="rc-carousel"
                         data-loop="true"
                         data-items="3"
                         data-margin="30"
                         data-autoplay="true"
                         data-autoplay-timeout="10000"
                         data-smart-speed="2000"
                         data-dots="false"
                         data-nav="true"
                         data-nav-speed="false"
                         data-r-x-small="1"
                         data-r-x-small-nav="true"
                         data-r-x-small-dots="false"
                         data-r-x-medium="2"
                         data-r-x-medium-nav="true"
                         data-r-x-medium-dots="false"
                         data-r-small="2"
                         data-r-small-nav="true"
                         data-r-small-dots="false"
                         data-r-medium="3"
                         data-r-medium-nav="true"
                         data-r-medium-dots="false"
                         data-r-large="3"
                         data-r-large-nav="true"
                         data-r-large-dots="false">
                       
                        <div class="single-item">
                            <div class="single-item-wrapper">
                                <div class="publications-img-wrapper">
                                    <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                        <img class="" style="height: auto !important" height="50" src="~/img/pdffoto.png" alt="courses">
                                    </div>
                                </div>
                                <div class="publications-content-wrapper">
                                    <h3 class="item-title"><a href="#">Sistema de Gestao Hospitalar</a></h3>
                                    <span class="item-price">Informatica</span>
                                </div>
                               
                            </div>
                        </div>

                        <div class="single-item">
                            <div class="single-item-wrapper">
                                <div class="publications-img-wrapper">
                                    <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                        <img class="" style="height: auto !important" height="50" src="~/img/pdffoto.png" alt="courses">
                                    </div>
                                </div>
                                <div class="publications-content-wrapper">
                                    <h3 class="item-title"><a href="#">Sistema de Gestao Hospitalar</a></h3>
                                    <span class="item-price">Informatica</span>
                                </div>
                                <div class="buy-now-btn-area">
                                    <a href="#" class="ghost-btn">Buy Now</a>
                                </div>
                            </div>
                        </div>

                        <div class="single-item">
                            <div class="single-item-wrapper">
                                <div class="publications-img-wrapper">
                                    <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                        <img class="" style="height: auto !important" height="50" src="~/img/pdffoto.png" alt="courses">
                                    </div>
                                </div>
                                <div class="publications-content-wrapper">
                                    <h3 class="item-title"><a href="#">Sistema de Gestao Hospitalar</a></h3>
                                    <span class="item-price">Informatica</span>
                                </div>
                                <div class="buy-now-btn-area">
                                    <a href="#" class="ghost-btn">Buy Now</a>
                                </div>
                            </div>
                        </div>

                        <div class="single-item">
                            <div class="single-item-wrapper">
                                <div class="publications-img-wrapper">
                                    <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                        <img class="" style="height: auto !important" height="50" src="~/img/pdffoto.png" alt="courses">
                                    </div>
                                </div>
                                <div class="publications-content-wrapper">
                                    <h3 class="item-title"><a href="#">Sistema de Gestao Hospitalar</a></h3>
                                    <span class="item-price">Informatica</span>
                                </div>
                                <div class="buy-now-btn-area">
                                    <a href="#" class="ghost-btn">Buy Now</a>
                                </div>
                            </div>
                        </div>

                        <div class="single-item">
                            <div class="single-item-wrapper">
                                <div class="publications-img-wrapper">
                                    <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                        <img class="" style="height: auto !important" height="50" src="~/img/pdffoto.png" alt="courses">
                                    </div>
                                </div>
                                <div class="publications-content-wrapper">
                                    <h3 class="item-title"><a href="#">Sistema de Gestao Hospitalar</a></h3>
                                    <span class="item-price">Informatica</span>
                                </div>
                                <div class="buy-now-btn-area">
                                    <a href="#" class="ghost-btn">Buy Now</a>
                                </div>
                            </div>
                        </div>

                        <div class="single-item">
                            <div class="single-item-wrapper">
                                <div class="publications-img-wrapper">
                                    <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                        <img class="" style="height: auto !important" height="50" src="~/img/pdffoto.png" alt="courses">
                                    </div>
                                </div>
                                <div class="publications-content-wrapper">
                                    <h3 class="item-title"><a href="#">Sistema de Gestao Hospitalar</a></h3>
                                    <span class="item-price">Informatica</span>
                                </div>
                                <div class="buy-now-btn-area">
                                    <a href="#" class="ghost-btn">Buy Now</a>
                                </div>
                            </div>
                        </div>

                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 col-md-pull-9">
                <div class="sidebar">
                    <div class="sidebar-box">
                        <div class="sidebar-box-inner">
                            <h3 class="sidebar-title">Pesquisa</h3>
                            <div class="sidebar-find-course">
                                <form id="checkout-form">
                                    <div class="form-group course-name">
                                        <input id="first-name" placeholder="Titulo do trabalho" class="form-control" type="text" />
                                    </div>
                                    <div class="form-group">
                                        <button class="sidebar-search-btn disabled" type="submit" value="Login">Pesquisar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-box">
                        <div class="sidebar-box-inner">
                            <h3 class="sidebar-title">Pesquise por cursos</h3>
                            <ul class="sidebar-categories">
                                <li><a href="#">Informatica</a></li>
                                <li><a href="#">Matematica</a></li>
                                <li><a href="#">Estatistica</a></li>
                                <li><a href="#">Ciencias de Informacao Geografica</a></li>
                            </ul>
                        </div>
                    </div>
                 
                  
                </div>
            </div>
        </div>
    </div>
</div>